.MuiOutlinedInput-notchedOutline {
  border: none !important;
}
.fileName {
  display: none;
}
.cancel-image {
  position: absolute;
  left: 92%;
  top: -5%;
  z-index: 1;
  cursor: pointer;
  background: white;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .cancel-image {
    left: 88% !important;
    height: 32px;
    width: 32px;
  }
}
