.MuiPaper-elevation{
    box-shadow: none !important;
    margin-bottom: 0 !important;
}
.company-logo{
    @media only screen and (max-width: 575px){
        margin: 0 auto;
        margin-top: 0.5rem;
        height:150px;
        width: 180px;
    }
}
